<% layout('./layouts/boilerplate') -%>
    <div class="container mt-5">
        <div class="row">
            <h1>All Farms!</h1>
            <ul>
                <% for (const farm of farms) { %>
                    <a href="/farms/<%= farm._id %>">
                        <li>
                            <%= farm.name %>
                        </li>
                    </a>
                    <% } %>
            </ul>

            <a href="/farms/new">Add New Farm</a>
        </div>
    </div>